<div class="zan-thumb-layout">
    <div class="zan-card zan-container-content">
        <div class="zan-content-header">
            <img class="preload-image" data-original="images/zan-images/the_loop_restaurant_logo_by_yasergrafix-d5f3q5p_PicViewer.jpg" alt="img">
            <strong>ABC Restaurant</strong>
        </div>
        <div class="zan-container">
            <h4>Spent over $20 get one free coffee</h4>
            <b>Days left: 15</b>
            <em>2016.09.12-2016.12.01</em>
        </div>
        <div class="zan-action-button">
            <a href="#"><img src="images/zan-icon/alert.png" alt="" width="36" height="36"></a>
            <a href="#"><img src="images/zan-icon/remove.png" alt="" width="36" height="36"></a>
            <a href="#"><img src="images/zan-icon/add-to-apple-wallet-logo.png" alt="" height="36"></a>
        </div>
        <div class="decoration"></div>
        <div class="zan-block">
            <span class="vertical-align-middle">Received from:</span>
            <img class="quote-image" src="images/zan-images/Circle_Staats_Terry-01.png" alt="">
        </div>
    </div>
    <div class="zan-card zan-container-content">
        <div class="zan-content-header">
            <img class="preload-image" data-original="images/zan-images/the_loop_restaurant_logo_by_yasergrafix-d5f3q5p_PicViewer.jpg" alt="img">
            <strong>ABC Restaurant</strong>
        </div>
        <div class="zan-container">
            <h4>Spent over $20 get one free coffee</h4>
            <b>Days left: 15</b>
            <em>2016.09.12-2016.12.01</em>
        </div>
        <div class="zan-action-button">
            <a href="#"><img src="images/zan-icon/alert.png" alt="" width="36" height="36"></a>
            <a href="#"><img src="images/zan-icon/remove.png" alt="" width="36" height="36"></a>
            <a href="#"><img src="images/zan-icon/add-to-apple-wallet-logo.png" alt="" height="36"></a>
        </div>
        <div class="decoration"></div>
        <div class="zan-block">
            <span class="vertical-align-middle">Received from:</span>
            <img class="quote-image" src="images/zan-images/Circle_Staats_Terry-01.png" alt="">
        </div>
    </div>
</div>